<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/complex-detail" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header"> Registro de visitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <div class="section-title">
      <ion-label>{{complex.title}} - {{complex.code}}</ion-label>
    </div>
    <div class="section-subtitle">
      <ion-label>Código Invitación</ion-label>
      <ion-input class="input_login"></ion-input>
    </div>
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="registrar()" color="danger">Entregar</ion-button>
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="registrar()" color="medium">Scanear QR</ion-button>
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="newRegister()" color="secondary">Nuevo Registro</ion-button>
  </div>
</ion-content>


