<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/deliver-package" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header">Validar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <div class="section-subtitle">
      <ion-label class="detail-label">Ingrese el código para validar el paquete </ion-label>
    </div>
    <div class="section-subtitle">
      <ion-label>Código Guardia</ion-label>
      <ion-input class="input_login"></ion-input>
    </div>
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="confirmPackage()" color="danger">Entregar</ion-button>
  </div>
</ion-content>


