<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/complex-detail" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header">Estado de cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <ion-row>
      <ion-col size="6">
        <ion-label class="title">Bienvenido: </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label > {{user}}</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>Balance:</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input class="input_balance" disabled value="0.00" ></ion-input>
      </ion-col>
    </ion-row>
  </div>
  <div class="section-info">
    <ion-grid fixed >
      <ion-row class="grid-header" >
        <ion-col>
          Fecha
        </ion-col>
        <ion-col>
          Operacion
        </ion-col>
        <ion-col>
          Monto ($)
        </ion-col>
      </ion-row>
      <ion-row class="grid-content">
        <ion-col>
          00/01
        </ion-col>
        <ion-col>
          pago
        </ion-col>
        <ion-col>
          100
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="saveDeclaration()" color="danger" >Registrar Aclaración</ion-button>
  </div>
</ion-content>


