
.section-info{
    margin: 10% 10% 10% 10%;
}

.input_balance {
    width: 100%; 
    background: #21BA9E;
    border-radius: 5px;
    color: white;
  
}
.section-btn{
    text-align: center;
    margin: 80% 10% 10% 10%;
}
.grid-header{
    background-color: #21BA9E;
    color: white;
}
.grid-content{
    background-color: #94ddd8;
    color: black
}
.title{
    color: black;
    font-weight: bold;
}
.title-header{
    color: white;
}