<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/register-visit" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header">Registrar invitados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <div class="section-title">
      <ion-label class="title">{{complex.title}}</ion-label>
    </div>
    <div class="section-subtitle">
      <ion-label>Nombres</ion-label>
      <ion-input class="input_login"></ion-input>
    </div>
    <div class="section-subtitle">
      <ion-label>Número de personas</ion-label>
      <ion-input class="input_login"></ion-input>
    </div>
    <div class="section-subtitle">
      <ion-label>Datos del vehículo</ion-label>
      <ion-input class="input_login"></ion-input>
    </div>
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="goConfirm()" color="danger">Vehiculo / Persona</ion-button>
  </div>
</ion-content>


