<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/register-visit-step1" color="basewhite"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <div class="section-subtitle">
      <ion-label class="title">Ingrese el código para registrar la entrada</ion-label>
    </div>
    <div class="section-subtitle">
      <ion-label class="title">Código Guardia</ion-label>
      <ion-input class="input_login" value=""></ion-input>
    </div>
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="goConfirm()" color="danger">Validar</ion-button>
  </div>
</ion-content>


