.center-header{
    text-align: center;
    width: 100%;
    margin: 0% 20% 0% 20%;
}
.img-logo {
    height: 20%;
    width: 50%;    
}
.section-info{
    margin: 10% 10% 10% 10%;
}

.section-item{
    margin: 10%;
}
.section-title{
    text-align: center;
}
.section-subtitle{
    text-align: left;
    margin-top: 10%;
}
.input_login {
    width: 100%; 
    background: #21BA9E;
    border-radius: 5px;
    margin-top: 5%;
    color: white;
}
.detail-label{
    text-overflow: ellipsis;
    white-space: break-spaces;
    overflow: hidden;
}
.section-btn{
    text-align: center;
    margin: 5% 10% 10% 10%;
}
