<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/complex-detail" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title color="basewhite">Incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <ion-label class="title">Descripción</ion-label>
    <ion-textarea class="input_textarea"  placeholder="Añada una descripción"></ion-textarea>
   
  </div>
  <div class="section-info">
    <ion-label>Añadir evidencia</ion-label>
    <ion-input class="input_login" placeholder="Adjunto"  ></ion-input>
   
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="saveIncidence()" color="danger">Enviar</ion-button>
  </div>
</ion-content>


