
.section-info{
    margin: 10% 10% 10% 10%;
}

.section-title{
    text-align: center;
}
.section-subtitle{
    text-align: left;
    margin-top: 5%;
}
.input_login {
    width: 100%; 
    background: #21BA9E;
    border-radius: 5px;
    color: white;
  
}
.section-btn{
    text-align: center;
    margin: 5% 10% 10% 10%;
}
.title-header{
    color: white;
}