<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
      <ion-label position="floating">Ingresa tu email/celular</ion-label>
      <ion-input class="input_login"></ion-input>
    
    <div class="section-btn">
      <ion-button shape="round" type="tel" fill="solid" (click)="changePassword()" color="danger">Resetear Password</ion-button>
    </div>
  </div>
  
</ion-content>
