<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/receive-package" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Recibir Paquete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <div class="section-title">
      <ion-label class="title">{{user.complex}}</ion-label>
    </div>
    <div class="section-subtitle">
      <ion-label class="title">Persona</ion-label>
      <ion-input class="input_login" value="{{user.owner}}" disabled></ion-input>
 
    </div>
  </div>
  <div class="section-item">
    <ion-label class="title">Foto del paquete</ion-label>
    <img src="assets/img/paquete-img.png" alt="">
  </div>
  <div class="section-info">
    <ion-label class="title">Código Guardia</ion-label>
    <ion-input class="input_login" ></ion-input>
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="acceptPackage()" color="danger">Ingresar</ion-button>
  </div>
</ion-content>


