<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/complex-detail" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header">Recibir Paquete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <div class="section-title">
      <ion-label class="title">{{complex.title}} - {{complex.code}} </ion-label>
    </div>
    <div class="section-subtitle">
      <ion-label class="title">Personal/Casa</ion-label>
      <ion-input class="input_login" value="{{user}}"></ion-input>
 
    </div>
  </div>
  <div class="section-item">
    <ion-list>
      <ion-item color="greenprimary">
        <ion-label class="title-header">Nombre</ion-label>
        <ion-label class="title-header">Complejo</ion-label>
      </ion-item>
      <ion-item *ngFor="let item of data" lines="full" (click)="goToReceiveDetail(item)" detail> 
        <ion-label class="detail-label">{{ item.owner }} </ion-label>
        <ion-label class="detail-label">{{ item.code }}</ion-label>
        
      </ion-item>
     
    </ion-list>
  </div>
</ion-content>

