.title-header{
    color: white;
}
.section-info{
    margin: 10% 15% 10% 20%;
}

.section-item{
    margin: 10%;
}
.section-title{
    text-align: center;
}
.section-subtitle{
    text-align: left;
    margin-top: 5%;
}
.input_login {
    width: 100%; 
    background: #21BA9E;
    border-radius: 5px;
    color: white;
  
}
.detail-label{
    text-overflow: ellipsis;
    white-space: break-spaces;
    overflow: hidden;
}