.img-logo {
    height: 20%;
    width: 50%;    
    // background-color: #ffffff00;
}
.center-header{
    text-align: center;
    width: 100%;
    margin: 5% 20% 5% 25%;
}
.content{
    margin-top: 10%;
    margin-left: 10% ;
    margin-right: 10%;
    width: 80%;
}

.section-btn{
    margin: 15% 20% 5% 25%;
}
.section-code{
    margin-top: 15%;
}
.forgot{
    margin-top: 7%;
}
.forgot-pass{
    font-size: .8rem;
    color: rgb(0, 11, 24);
    text-decoration: underline rgb(0, 11, 24);
}
.label-center{
    text-align: center;
    margin-bottom: 10%;
}
.input_login {
    width: 100%; 
    background: #94ddd8;
    border-radius: 5px;
    color:white;
  
  }
.div-login{
    margin-top: 5%;
    
}
.label_input{
    color: white;
    font-size: 18px;
    font-weight: bold;
}