<ion-content color="greenprimary">
  <div class="center-header">
    <ion-img class="img-logo" src="../../../assets/icon/icon-app.png"></ion-img>
  </div>
  
  <div class="content">
    <div class="div-login">
      <ion-label position="floating" class="label_input">Usuario</ion-label>
      <ion-input class="input_login" [(ngModel)]="user"></ion-input>
    </div>
     
    <div class="div-login">
      <ion-label position="floating" class="label_input">Contraseña</ion-label>
      <ion-input class="input_login" [(ngModel)]="password"></ion-input>
    </div> 
    <div class="forgot">
      <a (click)="changePassword()">
        <ion-label class="forgot-pass">Olvidé mi contraseña</ion-label>
      </a>
    </div>
    
    <div class="section-btn">
      <ion-button shape="round" fill="solid" (click)="goToComplex()" color="danger">Ingresar</ion-button>
    </div>
    
    <div class="section-code">
      <div class="label-center">
        <ion-label class="label_input">ó</ion-label>
      </div>  
      
      <div class="div-login">
        <ion-label position="floating" class="label_input">Tengo un código SMS</ion-label>
        <ion-input class="input_login" [(ngModel)]="code"></ion-input>
      </div>
      <div class="section-btn">
        <ion-button shape="round" fill="solid" color="danger" (click)="validateCode()">Ingresar</ion-button>
      </div>
    </div>

  </div>
  
</ion-content>
