<ion-header [translucent]="true">
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/new-visit" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header">Invitados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <div class="section-title">
      <ion-label class="title">Complejo 1 - Caseta A</ion-label>
    </div>
    <div class="section-subtitle">
      <ion-label>Nombre</ion-label>
      <ion-input class="input_login"></ion-input>
      <ion-label>Apellido</ion-label>
      <ion-input class="input_login"></ion-input>
      <div class="section-btn">
        <ion-button shape="round" fill="solid" color="secondary"  >Foto Automovil</ion-button>
        <ion-button shape="round" fill="solid" color="tertiary" >Foto Persona</ion-button>
      </div>
    </div>
    
  </div>
  <div class="section-pin">
    <ion-label>Pin Guardia</ion-label>
    <ion-input class="input_login" ></ion-input>
  </div>
  <div class="section-btn">
    <ion-button shape="round" fill="solid" (click)="goConfirm()" color="danger">Solicitar</ion-button>
  </div>
</ion-content>


