<ion-header>
  <ion-toolbar color="greenprimary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/complex" color="basewhite"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-header">{{complex.title}} - {{complex.code}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-item">
    <ion-row>
      <ion-col size="6" *ngFor="let item of data" >
        <div>
          <ion-card color="greenprimary" button="true" class="card-item" (click)="goToReceivePackage(item)">       
            <ion-card-header>
              <img [src]="item.img" alt="" class="img-icon">
              <ion-card-subtitle class="center"><ion-label class="subtitle">{{item.title}}</ion-label></ion-card-subtitle>
            </ion-card-header>
          
          </ion-card>
        </div>
        
      </ion-col>
    </ion-row>
  </div>
</ion-content>

