
.detail-label{
    text-overflow: ellipsis;
    white-space: break-spaces;
    overflow: hidden;
    color: white;
}
.card-item{
    width: 90%;
    margin: 5% 15% 5% 5%;
}
.title-header{
    color: white;
}
.img-icon{
    width: 150px;
    height: 100px;
}
.subtitle{
    align-items: center;
    color: white;
}
.center{
    align-items: center;
    text-align: center;
}