<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/complex-detail"></ion-back-button>
    </ion-buttons>
    <div class="center-header">
      <ion-img class="img-logo" src="../../../assets/icon/icon-app.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-info">
    <div class="section-title">
      <ion-label class="title">Complejo 1 - Caseta A</ion-label>
    </div>
    <div class="section-subtitle">
      <ion-label class="title">Personal/Casa</ion-label>
      <ion-input class="input_login" value="Rober"></ion-input>
 
    </div>
  </div>
  <div class="section-item">
    <ion-list>
      <ion-item *ngFor="let item of data" lines="full" (click)="confrimExit()"> 
        <ion-label class="detail-label">{{ item.owner }} </ion-label>
        <ion-label class="detail-label"> - </ion-label>
        <ion-label class="detail-label">{{ item.code }}</ion-label>
        
      </ion-item>
     
    </ion-list>
  </div>
</ion-content>

