.section-info{
    margin: 10% 10% 10% 10%;
}
.input_login {
    width: 100%; 
    background: #21BA9E;
    border-radius: 5px;
    color: white;
  
}
.input_textarea {
    width: 100%; 
    background: #21BA9E;
    border-radius: 5px;
    color: white;
}
.section-btn{
    text-align: center;
    margin: 80% 10% 10% 10%;
}
.title-header{
    color: white;
}